@model IEnumerable<VoucherFile>
@{

    ViewBag.Title = "Voucher Files";
}

<div class="container pt-3 pb-3" style="height:auto">
    <br />
    @if (Model.Count() == 0)
    {
        <h1>No file availaible!</h1>
    }
    @foreach (var file in Model)
    {
        <br />
        <embed src="~/images/@file.FileUrl" style="display: flex; align-items: center; flex-wrap: wrap; width:1000px;height:800px" />
        <br />
        @if ( User.IsInRole("ChiefAccountant"))
        {
            if ((file.Voucher.CurrentLevelRoleName == "ChiefAccountant"  || file.Voucher.CurrentLevelRoleName == "Authorizer1" || file.Voucher.CurrentLevelRoleName == "Approval")&& file.Voucher.RoleCreator == "ChiefAccountant")
            {
                <a href="/voucher/DeleteVoucherFile/@file.Id" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete?')"> <i class="fa fa-trash"> </i> Delete file </a>
                <br />
            }

        }
        @if (User.IsInRole("AccountOfficer"))
        {
            if ((file.Voucher.CurrentLevelRoleName == "ChiefAccountant" || file.Voucher.CurrentLevelRoleName == "AccountOfficer") && file.Voucher.RoleCreator == "AccountOfficer")
            {
                <a href="/voucher/DeleteVoucherFile/@file.Id" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete?')"> <i class="fa fa-trash"> </i> Delete file </a>
                <br />
            }

        }
    }
    <br />
    <a class="btn btn-sm btn-success" onclick="goBack()">  </i> Previous page </a>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>